<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CA103G2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Android_EmpMemServlet</servlet-name>
    <servlet-class>com.android.emp.controller.Android_EmpMemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android_EmpMemServlet</servlet-name>
    <url-pattern>/emp/emp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android_MemServlet</servlet-name>
    <servlet-class>com.android.mem.controller.Android_MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android_MemServlet</servlet-name>
    <url-pattern>/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android_TeamServlet</servlet-name>
    <servlet-class>com.android.team.controller.Android_TeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android_TeamServlet</servlet-name>
    <url-pattern>/team/team.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android_RouteServlet</servlet-name>
    <servlet-class>com.android.route.controller.Android_RouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android_RouteServlet</servlet-name>
    <url-pattern>/route/route.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android_Favorite_GPServlet</servlet-name>
    <servlet-class>com.android.favorite_gp.controller.Android_Favorite_GPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android_Favorite_GPServlet</servlet-name>
    <url-pattern>/favorite_GP/favorite_GP.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android_Joined_GPServlet</servlet-name>
    <servlet-class>com.android.joined_gp.controller.Android_Joined_GPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android_Joined_GPServlet</servlet-name>
    <url-pattern>/joined_GP/joined_GP.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android_RouteCollectionServlet</servlet-name>
    <servlet-class>com.android.routecollection.controller.Android_RouteCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android_RouteCollectionServlet</servlet-name>
    <url-pattern>/routeCollection/routeCollection.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Android_Activity_Servlet</servlet-name>
    <servlet-class>com.android.activity.controller.Android_Activity_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Android_Activity_Servlet</servlet-name>
    <url-pattern>/activity_Servlet/activity_Servlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RouteServlet</servlet-name>
    <servlet-class>com.route.controller.RouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteServlet</servlet-name>
    <url-pattern>/Route/RouteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RouteCollectionServlet</servlet-name>
    <servlet-class>com.routecollection.controller.RouteCollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteCollectionServlet</servlet-name>
    <url-pattern>/RouteCollection/RouteCollectionServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RouteReportServlet</servlet-name>
    <servlet-class>com.routereport.controller.RouteReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteReportServlet</servlet-name>
    <url-pattern>/RouteReport/RouteReportServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RouteMessageServlet</servlet-name>
    <servlet-class>com.routemessage.controller.RouteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteMessageServlet</servlet-name>
    <url-pattern>/RouteMessage/RouteMessageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RouteMessageReportServlet</servlet-name>
    <servlet-class>com.routemessagereport.controller.RouteMessageReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteMessageReportServlet</servlet-name>
    <url-pattern>/RouteMessageReport/RouteMessageReportServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/back-end/emp/emp.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/back-end/per/emp.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/back-end/emp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/front-end/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/back-end/mem/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MesServlet</servlet-name>
    <servlet-class>com.message.controller.MesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesServlet</servlet-name>
    <url-pattern>/front-end/mem/mes.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpPerServlet</servlet-name>
    <servlet-class>com.emp_per.controller.EmpPerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpPerServlet</servlet-name>
    <url-pattern>/back-end/per/EmpPer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendsServlet</servlet-name>
    <servlet-class>com.friends.controller.FriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendsServlet</servlet-name>
    <url-pattern>/front-end/mem/fr.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForPos_Servlet</servlet-name>
    <servlet-class>com.forPos.controller.ForPos_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForPos_Servlet</servlet-name>
    <url-pattern>/forPos/forPos.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForPos_fav_Servlet</servlet-name>
    <servlet-class>com.forPos_fav.controller.ForPos_fav_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForPos_fav_Servlet</servlet-name>
    <url-pattern>/favPos/favPos.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForPos_res_Servlet</servlet-name>
    <servlet-class>com.forPos_res.controller.ForPos_res_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForPos_res_Servlet</servlet-name>
    <url-pattern>/forPos/forPos2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForPos_ReportServlet</servlet-name>
    <servlet-class>com.forPos_report.controller.ForPos_ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForPos_ReportServlet</servlet-name>
    <url-pattern>/ForPos_Report/ForPos_ReportServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForPos_Res_ReportServlet</servlet-name>
    <servlet-class>com.forPos_res_report.controller.ForPos_Res_ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForPos_Res_ReportServlet</servlet-name>
    <url-pattern>/ForPos_Res_Report/ForPos_Res_ReportServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Activity_Servlet</servlet-name>
    <servlet-class>com.activity.controller.Activity_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Activity_Servlet</servlet-name>
    <url-pattern>/activity/activity.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForPos_rat_Servlet</servlet-name>
    <servlet-class>com.forPos_rat.controller.ForPos_rat_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForPos_rat_Servlet</servlet-name>
    <url-pattern>/forPos/forPosRat.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HashTag_Servlet</servlet-name>
    <servlet-class>hashTag_Util.HashTag_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashTag_Servlet</servlet-name>
    <url-pattern>/hashTag/hashTag.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComServlet</servlet-name>
    <servlet-class>com.com.controller.ComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComServlet</servlet-name>
    <url-pattern>/com/ComServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBGetImage</servlet-name>
    <servlet-class>com.com.controller.DBGetImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBGetImage</servlet-name>
    <url-pattern>/com/DBGetImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComPoServlet</servlet-name>
    <servlet-class>com.comPo.controller.ComPoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComPoServlet</servlet-name>
    <url-pattern>/com/ComPoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComResServlet</servlet-name>
    <servlet-class>com.comRes.controller.ComResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComResServlet</servlet-name>
    <url-pattern>/com/ComResServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoinedComServlet</servlet-name>
    <servlet-class>com.comJoin.controller.JoinedComServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinedComServlet</servlet-name>
    <url-pattern>/com/JoinedComServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGP_photoByGP_ID</servlet-name>
    <servlet-class>com.gp.controller.GetGP_photoByGP_ID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGP_photoByGP_ID</servlet-name>
    <url-pattern>/GetGP_photoByGP_ID</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPServlet</servlet-name>
    <servlet-class>com.gp.controller.GPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPServlet</servlet-name>
    <url-pattern>/gp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Joined_GPServlet</servlet-name>
    <servlet-class>com.joined_gp.controller.Joined_GPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Joined_GPServlet</servlet-name>
    <url-pattern>/joined_gp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Favorite_GPServlet</servlet-name>
    <servlet-class>com.favorite_gp.controller.Favorite_GPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Favorite_GPServlet</servlet-name>
    <url-pattern>/favorite_gp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MSG_OF_GPServlet</servlet-name>
    <servlet-class>com.msg_of_gp.controller.MSG_OF_GPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSG_OF_GPServlet</servlet-name>
    <url-pattern>/msg_of_gp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reply_of_MSGServlet</servlet-name>
    <servlet-class>com.reply_of_msg.controller.Reply_of_MSGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reply_of_MSGServlet</servlet-name>
    <url-pattern>/reply_of_msg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reported_GPServlet</servlet-name>
    <servlet-class>com.reported_gp.controller.Reported_GPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reported_GPServlet</servlet-name>
    <url-pattern>/reported_gp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.secondShop.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/front-end/secondShop/ProductUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductForView</servlet-name>
    <servlet-class>com.secondShop.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductForView</servlet-name>
    <url-pattern>/front-end/secondShop/ProductForView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductforByAD</servlet-name>
    <servlet-class>com.secondShop.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductforByAD</servlet-name>
    <url-pattern>/front-end/secondShop/ProductforByAD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductforRiating</servlet-name>
    <servlet-class>com.secondShop.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductforRiating</servlet-name>
    <url-pattern>/front-end/secondShop/ProductforRiating</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductforSelect</servlet-name>
    <servlet-class>com.secondShop.product.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductforSelect</servlet-name>
    <url-pattern>/front-end/secondShop/ProductforSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CurrencyaddCurrency</servlet-name>
    <servlet-class>com.secondShop.currency.controller.CurrencyServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrencyaddCurrency</servlet-name>
    <url-pattern>/front-end/secondShop/addCurrency</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CurrencyoutCurrency</servlet-name>
    <servlet-class>com.secondShop.currency.controller.CurrencyServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrencyoutCurrency</servlet-name>
    <url-pattern>/front-end/secondShop/outCurrency</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDeliveryAdd</servlet-name>
    <servlet-class>com.secondShop.productDelivery.controller.DeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeliveryAdd</servlet-name>
    <url-pattern>/front-end/secondShop/deliveryAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductReport</servlet-name>
    <servlet-class>com.secondShop.productReport.controller.ProductReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductReport</servlet-name>
    <url-pattern>/front-end/secondShop/ProductReport</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.util.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/gp/GP_List.jsp</url-pattern>
    <url-pattern>/front-end/gp/GP_Creating.jsp</url-pattern>
    <url-pattern>/front-end/com/ComPage.jsp</url-pattern>
    <url-pattern>/front-end/com/ListAllCom.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/addProduct.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/Currency.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/productBidding.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/productBuyList.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/productDelivery.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/productFavorite.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/productList.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/productMem-sale.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/updateProduct.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/viewProduct.jsp</url-pattern>
    <url-pattern>/front-end/secondShop/viewProductTest.jsp</url-pattern>
    <url-pattern>/front-end/Forum/forPos/insert_forPost.jsp</url-pattern>
    <url-pattern>/front-end/Forum/forPos/forPostManage.jsp</url-pattern>
    <url-pattern>/front-end/Forum/forPos/myPost.jsp</url-pattern>
    <url-pattern>/front-end/Forum/favPos/myFavPos.jsp</url-pattern>
    <url-pattern>/front-end/mem/MemberView.jsp</url-pattern>
    <url-pattern>/front-end/mem/MemberMes.jsp</url-pattern>
    <url-pattern>/front-end/mem/MemberMain.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>EmpFilter</filter-name>
    <filter-class>com.util.EmpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EmpFilter</filter-name>
<!--     <url-pattern>/back-end/emp/EmpAdd.jsp</url-pattern> -->
<!--     <url-pattern>/back-end/emp/EmpList.jsp</url-pattern> -->
    <url-pattern>/back-end/emp/UpdatePersonal.jsp</url-pattern>
    <url-pattern>/back-end/emp/UpdatePersonal0.jsp</url-pattern>
    <url-pattern>/back-end/empAct/addActivity.jsp</url-pattern>
    <url-pattern>/back-end/gp/*</url-pattern>
    <url-pattern>/back-end/secondShop/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/CA103G2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>